#jsdom
    padding: 60px 0
    .chat
        border-radius: 20px
        background-color: #e4ecff
        width: 100%
        padding: 25px
        .message
            padding: 4px
            height: 40vh
            border-radius: 20px
            background-color: #ffff
            overflow: auto
            &::-webkit-scrollbar
                display: none
            .end
                text-align: end
            .line
                display: inline-block
                background-color: #829fd7
                padding: 8px
                margin: 10px
                border-radius: 20px
                color: #ffff
        .text
            display: flex
            justify-content: center
            margin-top: 20px
            input
                margin-right: 10px
                border: 2px solid #ffff
            .sent
                background-color: #90a2d5
                padding: 8px 25px
                border-radius: 14px
                cursor: pointer
                h3
                    color: #ffff
                    cursor: pointer
    
    @media screen and ( max-width: 768px )
        .chat
            margin-bottom: 20px
