#jsdom
    padding: 60px 0
    .chat
        border: 1px solid #bbb7b7
        border-radius: 15px
        background-color: #b4afaf
        //width: 350px
        height: 350px
        .message
            margin: 10px
            width: 500px
            height: 273px
            border: 1px solid #b8b1b1
            background-color: #837f7f
